.Pending{
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  margin: 5px;
  border-radius: 10px;
}

.Completed{
  display: flex;
  justify-content: space-evenly;
  background-color: green;
  margin: 5px;
  border-radius: 10px;
}

.Progress{
  display: flex;
  justify-content: space-evenly;
  background-color: orange;
  margin: 5px;
  border-radius: 10px;
}

.add{
  display: flex;
  flex-direction: column;
  background-color: green;
  padding: 5px;
}